@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@font-face {
    font-family: 'Amatic SC', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
}

.quote{
    padding:200px;
    width:40%;
    margin:auto;
    text-align: center;
    font-size:90px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    
}



